:root {
    --cor-principal: #23BEE1;
    --cor-secundaria: #D76978;
    --tamanho-fonte1: 1em;
    --tamanho-fonte2: 1.2em;
    --tamanho-fonte3: 1.3em;
    --tamanho-fonte4: 1.7em;
    --tamanho-fonte5: 2em;
    --tamanho-fonte6: 2.2em;
}

body{
    font-family: 'Nunito', 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.wrapper{
    overflow-x: hidden;
}

/* Links */

nav a {
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar-nav a:hover::after {
    transform: scaleX(0.9);
}

.dropdown-toggle::after{
    border-top: 0;
}
/*       */

/* doar */

.doar{
    max-width: 500px;
    border-radius: 5px;
}

.vakinha-link {
    color: var(--cor-principal);
    text-decoration: none;
    transition: color 0.3s ease;
}

.vakinha-link:hover {
    color: var(--cor-secundaria);
}


/*         */
/* pop-up */

.pop-donate {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
}

.pop-donate:hover {
    transform: scale(1.1);
}

.pop-donate img {
    width: 40px;
    height: 40px;
}

#popQrCode {
    display: none;
    z-index: 1101;
    background-color: rgba(0, 0, 0, 0.7);
}

.conteudo-qr-code {
    background-color: white;
    padding: 30px;
}

.conteudo-qr-code img {
    width: 200px;
    height: 200px;
}

.fechar {
    top: 10px;
    right: 15px;
    font-size: var(--tamanho-fonte4);
    cursor: pointer;
    color: #333;
}

/* Footer  */
.redes a {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a img {
    height: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a:hover {
    transform: scale(1.2);
}
/*         */

/* Responsividade */

/* Smartphones */
@media (max-width: 600px) {
    nav a::after {
        height: 0;
    }

    .doar {
        border-radius: 0px;
        max-width: 100%;
        margin-bottom: 35px;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    nav a::after {
        height: 0;
    }
}