:root {
    --cor-principal: #23BEE1;
    --cor-secundaria: #D76978;

    --tamanho-fonte1: 1em;
    --tamanho-fonte2: 1.2em;
    --tamanho-fonte3: 1.3em;
    --tamanho-fonte4: 1.7em;
    --tamanho-fonte5: 2em;
    --tamanho-fonte6: 2.2em;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Nunito', 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* Header */

header {
    display: flex;
    background-color: var(--cor-principal);
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 25px 0;
    max-height: 150px;
    max-width: 150px;
}

nav {
    width: 100%;
    border-top: solid 2px white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 5px 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: var(--tamanho-fonte2);
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

.barra-fixa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-principal);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.barra-fixa ul {
    padding-left: 15px;
}

/*  */

/* Carrossel */
.carrossel {
    padding-top: 35px;
}

.slider {
    margin: 0 auto;
    width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}

.slides {
    width: 400%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 700px;
}

.labels {
    position: absolute;
    width: 700px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20px;
    transition: 1s;
}

.manual-btn:hover,
#radio1:checked~.navegacao .auto-btn1,
#radio2:checked~.navegacao .auto-btn2,
#radio3:checked~.navegacao .auto-btn3,
#radio4:checked~.navegacao .auto-btn4 {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navegacao div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegacao {
    position: absolute;
    width: 700px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

/*  */

/* Divisórias */

.apelo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 35px 0;
}

.apelo h2 {
    color: var(--cor-principal);
    font-size: var(--tamanho-fonte6);
    text-align: center;
}

.apelo h2:nth-child(2),
.apelo2 h2:nth-child(2) {
    font-size: var(--tamanho-fonte6);
    text-decoration: underline;
    font-weight: bold;
}

.apelo2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.apelo2 h2 {
    color: var(--cor-secundaria);
    font-size: var(--tamanho-fonte6);
    text-align: center;
}

.apelo3 {
    background-color: var(--cor-secundaria);
    border-top: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.apelo3 h2 {
    color: white;
    font-size: var(--tamanho-fonte6);
}

/*  */

/* Conteudo */

.doar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #23BEE1;
    gap: 15px;
    border-radius: 25px;
    border: solid 2px black;
    width: 400px;
    margin: auto;
    margin-bottom: 70px;
    padding: 15px;
}

.doar .dados {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.doar .qrcode img {
    width: 150px;
    border-radius: 25px;
}

.quem-somos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 140px;
    font-size: var(--tamanho-fonte3);
    gap: 25px;
}

.quem-somos h1 {
    text-align: center;
}

.quem-somos p,
.como-atuamos p {
    text-align: justify;
}

.quem-somos-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.quem-somos-fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    gap: 25px;
}

.quem-somos-fotos img {
    height: 180px;
    border: solid black 2px;
}

.quem-somos-fotos strong {
    color: var(--cor-secundaria);
}

.diretoria {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.diretoria div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
}

.diretoria div .nome {
    margin: 5px 0;
}

.como-atuamos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 140px;
    padding-bottom: 25px;
    gap: 15px;
    font-size: var(--tamanho-fonte3);
    background: linear-gradient(0deg, white 0%, white 0%, #D76978 100%);
}

.campanha {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campanha img {
    width: 50%;
    border: solid 2px black;
    border-radius: 15px;
}

/*  */

/* Footer */

footer .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid var(--cor-principal) 1px;
    flex-direction: row;
    gap: 25px;
}

footer img {
    height: 24px;
}

footer .contato .fone {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

footer .contato .fone div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

footer .contato .loc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 25px 0px;
    width: 300px;
}

footer .contato .redes {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}

.redes a {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a img {
    height: 24px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.redes a:hover {
    transform: scale(1.2);
}

footer .dev {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 35px;
}

/* */

/* doação */

.pop-donate {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
}

.pop-donate:hover {
    transform: scale(1.1);
}

.pop-donate img {
    width: 40px;
    height: 40px;
}

#popQrCode {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.conteudo-qrc-code {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.conteudo-qrc-code img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: var(--tamanho-fonte4);
    cursor: pointer;
    color: #333;
}

/* Responsividade */

/* Smartphones */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .barra-fixa ul {
        padding-left: 0px;
    }

    .carrossel {
        padding-top: 0px;
    }

    .slider {
        width: 100%;
        height: 50%;
        border-radius: 0;
    }

    .labels {
        width: 100%;
        margin-top: 50%;
    }

    .slide img {
        width: 100%;
    }

    .navegacao {
        width: 100%;
        margin-top: 50%;
    }

    .apelo h2 {
        color: var(--cor-principal);
        font-size: var(--tamanho-fonte4);
        text-align: center;
    }

    .apelo h2:nth-child(2) {
        font-size: var(--tamanho-fonte6);
        text-decoration: underline;
        font-weight: bold;
    }

    .apelo2 h2 {
        color: var(--cor-principal);
        font-size: var(--tamanho-fonte4);
        text-align: center;
    }

    .apelo2 h2:nth-child(2) {
        font-size: var(--tamanho-fonte6);
        text-decoration: underline;
        font-weight: bold;
    }

    .apelo3 {
        padding: 50px 0;
    }

    .apelo3 h2 {
        font-size: var(--tamanho-fonte4);
    }

    .doar {
        border-radius: 0px;
        border: solid 0px black;
        width: 100%;
        margin-bottom: 35px;
    }

    .quem-somos {
        padding: 0 50px;
        font-size: var(--tamanho-fonte1);
    }

    .diretoria {
        flex-wrap: wrap;
        justify-content: center;
    }

    .quem-somos-fotos img {
        height: 150px;
    }

    .diretoria div {
        width: 150px;
    }

    .diretoria div .nome {
        font-size: var(--tamanho-fonte1);
        margin: 2px 0;
    }

    .diretoria div strong {
        font-size: var(--tamanho-fonte1);
    }

    .como-atuamos {
        padding: 0px 50px;
        font-size: var(--tamanho-fonte1);
        padding-bottom: 15px;
    }

    .campanha img {
        width: 100%;
        border-radius: 0px;
        border: 0px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    footer {
        font-size: var(--tamanho-fonte1);
    }

    footer .contato {
        gap: 5px;
        flex-direction: column;
    }

    footer img {
        height: 24px;
    }

    footer .contato .fone {
        width: 300px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 25px;
    }

    footer .contato .loc {
        width: 300px;
    }

    footer .contato .redes {
        justify-content: center;
        width: 300px;
        padding-bottom: 25px;
    }

}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .slider {
        width: 500px;
        height: 280px;
    }

    .slide img {
        width: 500px;
    }

    .labels {
        width: 500px;
        margin-top: 240px;
    }

    .navegacao {
        width: 500px;
        margin-top: 240px;
    }

    .quem-somos {
        padding: 0 70px;
        font-size: var(--tamanho-fonte2);
    }

    .quem-somos-fotos img {
        height: 165px;
    }

    .diretoria div .nome {
        font-size: var(--tamanho-fonte2);
    }

    .diretoria div strong {
        font-size: var(--tamanho-fonte2);
    }

    .diretoria div {
        width: 165px;
    }

    .como-atuamos {
        padding: 0px 70px;
        padding-bottom: 25px;
        font-size: var(--tamanho-fonte2);
    }

    .campanha {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .campanha img {
        min-width: 400px;
    }

    footer {
        font-size: var(--tamanho-fonte1);
    }

    footer .contato {
        gap: 5px;
        flex-direction: column;
    }

    footer img {
        height: 24px;
    }

    footer .contato .fone {
        width: 300px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        padding-top: 25px;
    }

    footer .contato .loc {
        width: 300px;
    }

    footer .contato .redes {
        justify-content: center;
        width: 300px;
        padding-bottom: 25px;
    }
}